# DataFrames.jl 介紹 (二): Joins 與 Split-Apply-Combine Strategy

## Day 018 作業1：The Split-Apply-Combine Strategy

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/地區的累計確診人數，並列出所有資料筆數。

In [1]:
using DataFrames, CSV

In [2]:
df = CSV.read("../data/04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

計算計算每個國家/地區的累計確診人數

【提示】可使用 groupby 相關的函式

In [3]:
describe(df)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable       │ mean     │ min                 │ median   │
│     │ Symbol         │ Union…   │ Any                 │ Union…   │
├─────┼────────────────┼──────────┼─────────────────────┼──────────┤
│ 1   │ FIPS           │ 30958.4  │ 66                  │ 29093.0  │
│ 2   │ Admin2         │          │ Abbeville           │          │
│ 3   │ Province_State │          │ Alabama             │          │
│ 4   │ Country_Region │          │ Afghanistan         │          │
│ 5   │ Last_Update    │          │ 2020-02-23 11:19:02 │          │
│ 6   │ Lat            │ 36.2992  │ -42.8821            │ 37.7171  │
│ 7   │ Long_          │ -78.9577 │ -159.597            │ -86.5104 │
│ 8   │ Confirmed      │ 394.378  │ 0                   │ 7.0      │
│ 9   │ Deaths         │ 20.624   │ 0                   │ 0.0      │
│ 10  │ Recovered      │ 81.8462  │ 0                   │ 0.0      │
│ 11  │ Active         │ 199.29   │ 0                   │ 0.0      │
│ 12  │ Combined_Key   │          │ ,,Belize            │          │

In [4]:
# 顯示所有資料
sort(by(df, :Country_Region, :Confirmed => sum), :Confirmed_sum, rev=true)

181×2 DataFrame
│ Row │ Country_Region                   │ Confirmed_sum │
│     │ String                           │ Int64         │
├─────┼──────────────────────────────────┼───────────────┤
│ 1   │ US                               │ 243453        │
│ 2   │ Italy                            │ 115242        │
│ 3   │ Spain                            │ 112065        │
│ 4   │ Germany                          │ 84794         │
│ 5   │ China                            │ 82432         │
│ 6   │ France                           │ 59929         │
│ 7   │ Iran                             │ 50468         │
│ 8   │ United Kingdom                   │ 34173         │
│ 9   │ Switzerland                      │ 18827         │
│ 10  │ Turkey                           │ 18135         │
⋮
│ 171 │ Somalia                          │ 5             │
│ 172 │ Botswana                         │ 4             │
│ 173 │ Gambia                           │ 4             │
│ 174 │ Belize                           │ 3             │
│ 175 │ Burundi                          │ 3             │
│ 176 │ Central African Republic         │ 3             │
│ 177 │ Malawi                           │ 3             │
│ 178 │ Saint Vincent and the Grenadines │ 2             │
│ 179 │ Sierra Leone                     │ 2             │
│ 180 │ Papua New Guinea                 │ 1             │
│ 181 │ Timor-Leste                      │ 1             │

## 作業2：請列出美國各區域或事件 (依 Province_State 欄) 的累積確診、死亡、康復人數。

【提示】使用 Split-Apply-Combine Strategy 時，有幾種不同的函式可以使用，請參照 `DataFrames.jl` 官方文件 [https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby](https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby)

In [5]:
describe(df)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable       │ mean     │ min                 │ median   │
│     │ Symbol         │ Union…   │ Any                 │ Union…   │
├─────┼────────────────┼──────────┼─────────────────────┼──────────┤
│ 1   │ FIPS           │ 30958.4  │ 66                  │ 29093.0  │
│ 2   │ Admin2         │          │ Abbeville           │          │
│ 3   │ Province_State │          │ Alabama             │          │
│ 4   │ Country_Region │          │ Afghanistan         │          │
│ 5   │ Last_Update    │          │ 2020-02-23 11:19:02 │          │
│ 6   │ Lat            │ 36.2992  │ -42.8821            │ 37.7171  │
│ 7   │ Long_          │ -78.9577 │ -159.597            │ -86.5104 │
│ 8   │ Confirmed      │ 394.378  │ 0                   │ 7.0      │
│ 9   │ Deaths         │ 20.624   │ 0                   │ 0.0      │
│ 10  │ Recovered      │ 81.8462  │ 0                   │ 0.0      │
│ 11  │ Active         │ 199.29   │ 0                   │ 0.0      │
│ 12  │ Combined_Key   │          │ ,,Belize            │          │

In [6]:
func_tuple = (:Confirmed => sum, :Recovered => sum, :Deaths => sum)
us_df = filter(row -> row[:Country_Region] == "US", df)
by(us_df, :Province_State, func_tuple)

58×4 DataFrame
│ Row │ Province_State           │ Confirmed_sum │ Recovered_sum │ Deaths_sum │
│     │ Union{Missing, String}   │ Int64         │ Int64         │ Int64      │
├─────┼──────────────────────────┼───────────────┼───────────────┼────────────┤
│ 1   │ South Carolina           │ 1554          │ 0             │ 31         │
│ 2   │ Louisiana                │ 9159          │ 0             │ 310        │
│ 3   │ Virginia                 │ 1706          │ 0             │ 41         │
│ 4   │ Idaho                    │ 776           │ 0             │ 9          │
│ 5   │ Iowa                     │ 614           │ 0             │ 11         │
│ 6   │ Missouri                 │ 1857          │ 0             │ 22         │
│ 7   │ Oklahoma                 │ 881           │ 0             │ 34         │
│ 8   │ Colorado                 │ 3342          │ 0             │ 80         │
│ 9   │ Illinois                 │ 7695          │ 0             │ 163        │
│ 10  │ Indiana                  │ 3038          │ 0             │ 78         │
⋮
│ 48  │ District of Columbia     │ 653           │ 0             │ 12         │
│ 49  │ Connecticut              │ 3824          │ 0             │ 112        │
│ 50  │ Hawaii                   │ 256           │ 0             │ 1          │
│ 51  │ Delaware                 │ 393           │ 0             │ 12         │
│ 52  │ Diamond Princess         │ 49            │ 0             │ 0          │
│ 53  │ Grand Princess           │ 103           │ 0             │ 3          │
│ 54  │ Guam                     │ 82            │ 0             │ 3          │
│ 55  │ Northern Mariana Islands │ 6             │ 0             │ 1          │
│ 56  │ Puerto Rico              │ 316           │ 0             │ 12         │
│ 57  │ Recovered                │ 0             │ 9001          │ 0          │
│ 58  │ Virgin Islands           │ 30            │ 0             │ 0          │